body{
    background-color: rgb(155, 155, 155);
 }

 p{
    color: rgb(5, 5, 5);
    text-align: justify;
    text-indent: 50px;
 }

figure.tvd{
    position: relative;
    border:12px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}
figure.tvd img{
    width: 100%;
    height: 100%;
}
 
figure.tvd figcaption{
    position:absolute;
    top:0px;
    background-color: rgba(255, 0, 0, 0.4);
    color:rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    opacity:0 ;
    transition: opacity 1s;
}
figure.tvd:hover figcaption{
    opacity: 1;
}



